body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  /*centers everything inside the container or
  parent element which doesn't have a width.*/
}

h1 {
  /* font-size: 562.5%; / dynamic size */
  font-size: 5rem;
  /*dynamic size / another way  * 1 em equals 16px /
  16px = 100% size = 1 em /
  root em does not get affected by upstream size changes */
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 4;
  /*margin: 0 auto 0 auto; /*auto value centers vertically or horizontally
  // check margin CSS MDN documentation*/
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

/*
p { you can't modify its width
  display: inline;
}

span { you can't show other elements inline
  display: block;
}
*/
/*
p {
  display: inline-block;
   you can change its width and display more elements inline
}
*/
/*display:none; hides an element// it looks as if it never existed and the
position is not saved

or you can use a property called visibility: hidden;
// it keeps its position but hides the element

Posiiton property:
static: default

relative: relative to the static position, it leaves a ghost behind,
you have to use opposite directions towards where you can set the new position
top instead of bottom to move bottom and so on

absolute: we positionate the element relative to its parent (ai a div)
you add a margin to its parent element, it doesn't leave a ghost on its
original position

fixed:
it will stay in its position when you scroll the page
*/
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
line-height: 4;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 30px;
}

.pro {
  text-decoration: underline;
}

.bottomcloud {
  position: absolute;
  /* it'll be relative to its parent and if the parent
  doesn't have a relative position, it'll be relative to the body */
  left: 300px;
  bottom: 300px;
}

.topcloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.skillsimg {
  height: 150px;
  width: 120px;
  float: left;
  /*mueve contenido a la izquierda o derecha, o you can set it to none*/
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.paragraph {
  color: #40514E;
}

.hr {
  border-style: none;
  border-top-style: dotted;
  border-top-width: 5px;
  color: #66BFBF;
  width: 5%;
}

.footer-link {
  color: #11999E;
  font-size: 140%;
}

#footerp {
  color: #EAF6F6;
  line-height: 4;
  margin-bottom: 0;
  font-size: 90%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #40514E;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 6;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link {
  margin-right: 25px;
}

/*.skilldescription{
  clear: left;
}*/
